* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(/website-project/terminal/image/serene-japanese-garden-view-through-sliding-door.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px 10px 5px;
    position: sticky;
    z-index: 2000;
    top: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    cursor: pointer;
}

li {
    background-color: grey;
    padding: 5px;
    border: none;
    border-radius: 5px;
    list-style-type: none;
}

li:hover {
    border-bottom: 1px white solid;
    background-color: rgba(250, 235, 215, 0.719);
}

li > a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

section {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.178);
    padding: 10px;
    border-radius: 10px;
}

.row-data {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
    padding: 10px;
}

.data-one {
    border: 2px rgba(0, 0, 0, 0.062) solid;
    width: 50%;
    min-height: auto;
    text-align: center;
    margin: 0 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(5px);
}

.content {
    text-align: start;
}

.content > h1 {
    margin-bottom: 1rem;
}

.content > .button {
    margin-top: 100px;
}

.content > .button > a#register{
    font-size: 30px;
    text-decoration: none;
    background-color: steelblue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    border-left: 2px white solid;
    border-bottom: 3px white solid;
    margin-top: 10px;
}

.content > .button > a#login{
    font-size: 30px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    border-left: 2px white solid;
    border-bottom: 3px white solid;
    margin-top: 10px;
}

.button > a#login:hover {
    padding: 7px;
    transition: all 0.1s ease-in-out;
    color: yellowgreen;
    background-color: rgb(0, 0, 0);
    border-left: 2px yellowgreen solid;
    border-bottom: 3px yellowgreen solid;
}
.button > a#register:hover {
    padding: 7px;
    transition: all 0.1s ease-in-out;
    background-color: rgba(0, 32, 102, 0.836);
}

img {
    width: 40%;
    height: auto;
}

.nama-ikan {
    background-color: beige;
    width: 100%;
    min-height: auto;
    padding: 5px;
    border-radius: 10px;
}

.jumlah-pembudidaya {
    background-color: beige;
    width: 100%;
    min-height: auto;
    padding: 5px;
    border-radius: 10px;
}

.wiki {
    width: 100%;
    min-height: auto;
    /* border: 2px black solid; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.wiki > .wiki-title {
    font-size: 20px;
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px black solid;
    background-color: yellowgreen;
}

.wiki > .nilai-gizi {
    background-color: rgba(0, 0, 0, 0.144);
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: space-between;
}

.all-nutrisi {
    border: 2px black solid;
    border-radius: 10px;
    width: 50%;
    min-height: auto;
    padding: 10px;
    cursor: pointer;
}

.protein, .karbohidrat, .lemak, .vitamin {
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    width: 0;
    min-height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

.protein:hover {
    width: 52%;
    transition: all 1s ease-in-out;
    background-color: #2ecc71;
}

.karbohidrat:hover {
    width: 0%;
    transition: all 1s ease-in-out;
    background-color: #8e44ad;
}

.lemak:hover {
    width: 4.5%;
    transition: all 1s ease-in-out;
    background-color: #3498db;
}

#b12:hover {
    width: 79%;
    transition: all 1s ease-in-out;
    background-color: #e67e22;
}

#b3:hover {
    width: 29%;
    transition: all 1s ease-in-out;
    background-color: #e67e22;
}

#d:hover {
    width: 16%;
    transition: all 1s ease-in-out;
    background-color: #e67e22;
}

#b6:hover {
    width: 12%;
    transition: all 1s ease-in-out;
    background-color: #e67e22;
}

#e:hover {
    width: 3%;
    transition: all 1s ease-in-out;
    background-color: #e67e22;
}

#b5:hover {
    width: 8%;
    transition: all 1s ease-in-out;
    background-color: #e67e22;
}

#b5:hover {
    width: 8%;
    transition: all 1s ease-in-out;
    background-color: #e67e22;
}

